*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-image: url(./img/imagem-de-inicio.jpg);
}

body {
    height: 100dvh;
    display: grid;
    place-content: center;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-input input {
    text-align: center;
    width: 305px;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
}

.container-button button {
    padding-block: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(14, 14, 14);
    color: white;
}

